{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class = "title"><h2>The Story of Maybe</h2></div>
<div class = "margin">

  <p>It is sometimes hard to know whether an event is actually a good or a bad thing. In fact, it could be a matter of perspective.</p>
  <p><b>Non-Judgement</b> is the idea of not deciding whether something is good or bad. The story below outlines how hard it can be to judge good and bad.</p>


  <div class = "textbox">
  <h2>Maybe</h2>
  <p>Once upon a time there was an old farmer who had worked his crops for many years. One day his horse ran away. Upon hearing the news, his neighbors came to visit. “Such bad luck,” they said sympathetically.</p>

<p>“Maybe,” the farmer replied.</p>

<p>The next morning the horse returned, bringing with it three other wild horses. “How wonderful,” the neighbors exclaimed.</p>

<p>“Maybe,” replied the old man.</p>

<p>The following day, his son tried to ride one of the untamed horses, was thrown, and broke his leg. The neighbors again came to offer their sympathy on his misfortune.</p>

<p>“Maybe,” answered the farmer.</p>

<p>The day after, military officials came to the village to draft young men into the army. Seeing that the son’s leg was broken, they passed him by. The neighbors congratulated the farmer on how well things had turned out.</p>

<p>“Maybe,” said the farmer.</p>

<i><p>--Zen Parable</p></i>
</div>

<p>The idea of the above story can be applied to hard things in your life.</p>

<h2>Sources</h2>
<ul>
  <li class="pmargin">Pema Chodron's ideology, for example in "When Things Fall Apart"</li>




{% endblock %}
