{% extends 'base.html' %}
{% load static %}

  {% block content %}

  <p><b>Hard things happen to all of us.</b></p>

  <p><strong><a href="{% url 'resilience' %}">Resilience</a></strong> allows us to overcome challenges, and even to grow and learn from them. This site has Tools, Activities, and Mindsets to increase your resilience.</p>

  <p>That way, when hard things happen, you're prepared to deal with them.</p>
  </div>
  <br>

  <p>#Filters</p>
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> <b>All</b></button>
    <button class="btn" onclick="filterSelection('activities')">Activities</button>
    <button class="btn" onclick="filterSelection('mindsets')"> Mindsets</button>
    <button class="btn" onclick="filterSelection('tools')"> Tools</button>
    <button class="btn right" onclick="filterSelection('gratitude')"> Gratitude</button>
    <button class="btn right" onclick="filterSelection('perspective')"> Perspective</button>
    <button class="btn right" onclick="filterSelection('self-love')"> Self-Love</button>
    <button class="btn right" onclick="filterSelection('outlook')"> Outlook</button>
  </div>


  <br>

<div class="row">
  <div class="column tools perspective">
  <div class="col-sm-4">
  <h4 class="title1" style="text-align: center;"><a href="{% url 'threePs' %}">The 3 P's</a></h4>
  <p class="textbox1" style="text-align: center;"><a href="{% url 'threePs' %}"><span1><img src="{% static "GR/3P.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Change your perspective.</span1></a></p>
  </div>
  </div>

  <div class="column tools">
  <div class="col-sm-4">
  <h4 class="title1" style="text-align: center;"><a href="{% url 'shutdown' %}">The Shutdown</a></h4>
  <p class="textbox1" style="text-align: center;"><a href="{% url 'shutdown' %}"><span1><img src="{% static "GR/shutdown.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Turn off your work at the end of the day.</span1></a></p>
  </div>
  </div>

  <div class="column tools">
  <div class="col-sm-4">
  <h4 class="title1" style="text-align: center;"><a href="{% url 'reset' %}">The Reset</a></h4>
  <p class="textbox1" style="text-align: center;"><a href="{% url 'reset' %}"><span1><img src="{% static "GR/reset.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Regain calmness and control.</span1></a></p>
  </div>
  </div>

  <div class="column tools perspective">
  <div class="col-sm-4">
  <h4 class="title1" style="text-align: center;"><a href="{% url 'arrow' %}">Second Arrow</a></h4>
  <p class="textbox1" style="text-align: center;"><a href="{% url 'arrow' %}"><span1><img src="{% static "GR/arrow.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Control harmful reactions to difficult things.</span1></a></p>
  </div>
  </div>

  <div class="column tools gratitude perspective">
  <div class="col-sm-4">
  <h4 class="title1" style="text-align: center;"><a href="{% url 'littlewins' %}">Little Wins</a></h4>
  <p class="textbox1" style="text-align: center;"><a href="{% url 'littlewins' %}"><span1><img src="{% static "GR/littlewin.png" %}" alt="My image" style="width:50px;height:50px;"/><br>See the positive things in your day-to-day.</span1></a></p>
  </div>
  </div>

  <div class="column tools habits">
  <div class="col-sm-4">
  <h4 class="title1" style="text-align: center;"><a href="{% url 'keystone' %}">Keystone Habits</a></h4>
  <p class="textbox1" style="text-align: center;"><a href="{% url 'keystone' %}"><span1><img src="{% static "GR/keystone.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Feel balanced with a daily habit.</span1></a></p>
  </div>
  </div>

  <div class="column tools">
  <div class="col-sm-4">
  <h4 class="title1 smallfont" style="text-align: center;"><a href="{% url 'chain' %}">The Chain</a></h4>
  <p class="textbox1" style="text-align: center;"><a href="{% url 'chain' %}"><span1><img src="{% static "GR/chain.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Motivate yourself each day to complete a task.</span1></a></p>
  </div>
  </div>

  <div class="column tools">
  <div class="col-sm-4">
  <h4 class="title1 small" style="text-align: center;"><a href="{% url 'zero' %}">No Zero Days</a></h4>
  <p class="textbox1" style="text-align: center;"><a href="{% url 'zero' %}"><span1><img src="{% static "GR/nozero.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Accomplish your goal by doing a little everyday.</span1></a></p>
  </div>
  </div>

  <div class="column tools gratitude">
  <div class="col-sm-4">
  <h4 class="title1" style="text-align: center;"><a href="{% url 'journal' %}">Gratitude Journal</a></h4>
  <p class="textbox1" style="text-align: center;"><a href="{% url 'journal' %}"><span1><img src="{% static "GR/journal.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Pay attention to all the great things happening.</span1></a></p>
  </div>
  </div>

  <div class="column activities outlook">
  <div class="col-sm-4">
  <h4 class="title2" style="text-align: center;"><a href="{% url 'goal' %}">Goal Pyramid</a></h4>
  <p class="textbox2" style="text-align: center;"><a href="{% url 'goal' %}"><span1><img src="{% static "GR/goalpyramid.png" %}" alt="My image" style="width:50px;height:50px;"/><br>See the big picture.</span1></a></p>
  </div>
  </div>

  <div class="column activities perspective">
  <div class="col-sm-4">
  <h4 class="title2" style="text-align: center;"><a href="{% url 'space' %}">A Space</a></h4>
  <p class="textbox2" style="text-align: center;"><a href="{% url 'space' %}"><span1><img src="{% static "GR/space.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Find your very own space.</span1></a></p>
  </div>
  </div>

  <div class="column activities self-love">
  <div class="col-sm-4">
  <h4 class="title2" style="text-align: center;"><a href="{% url 'threeselves' %}">Three Selves</a></h4>
  <p class="textbox2" style="text-align: center;"><a href="{% url 'threeselves' %}"><span1><img src="{% static "GR/threeselves.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Discover your three selves: past, present and future.</span1></a></p>
  </div>
  </div>

  <div class="column activities perspective">
  <div class="col-sm-4">
  <h4 class="title2" style="text-align: center;"><a href="{% url 'label' %}">Label Bad Feelings</a></h4>
  <p class="textbox2" style="text-align: center;"><a href="{% url 'label' %}"><span1><img src="{% static "GR/label.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Realize bad feelings and thoughts have little power over you.</span1></a></p>
  </div>
  </div>

  <div class="column activities self-love">
  <div class="col-sm-4">
  <h4 class="title2" style="text-align: center;"> <a href="{% url 'ministry' %}">Ministry of Me</a></h4>
  <p class="textbox2" style="text-align: center;"><a href="{% url 'ministry' %}"><span1><img src="{% static "GR/ministry.png" %}" alt="My image" style="width:50px;height:50px;"/><br>See the conflicting parts of your mind as an entire Ministry.</span1></a></p>
  </div>
  </div>

  <div class="column activities outlook">
  <div class="col-sm-4">
  <h4 class="title2" style="text-align: center;"> <a href="{% url 'universes' %}">Multiple Universes</a></h4>
  <p class="textbox2" style="text-align: center;"><a href="{% url 'universes' %}"><span1><img src="{% static "GR/universe.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Take the stress out of big decisions.</span1></a></p>
  </div>
  </div>

  <div class="column mindsets perspective">
  <div class="col-sm-4">
  <h4 class="title3" style="text-align: center;"><a href="{% url 'mindfulness' %}">Mindfulness</a></h4>
  <p class="textbox3" style="text-align: center;"><a href="{% url 'mindfulness' %}"><span1><img src="{% static "GR/mindfulness.png" %}" alt="My image" style="width:50px;height:50px;"/><br>See the present moment with more clarity.</span1></a></p>
  </div>
  </div>

  <div class="column mindsets self-love">
  <div class="col-sm-4">
  <h4 class="title3" style="text-align: center;"><a href="{% url 'compassion' %}">Self-Compassion</a></h4>
  <p class="textbox3" style="text-align: center;"><a href="{% url 'compassion' %}"><span1><img src="{% static "GR/selfcompassion.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Accept yourself and decrease self-criticism.</span1></a></p>
  </div>
  </div>

  <div class="column mindsets self-love">
  <div class="col-sm-4">
  <h4 class="title3" style="text-align: center;"><a href="{% url 'vulnerability' %}">Vulnerability</a></h4>
  <p class="textbox3" style="text-align: center;"><a href="{% url 'vulnerability' %}"><span1><img src="{% static "GR/vulnerability.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Embrace your imperfections.</span1></a></p>
  </div>
  </div>

  <div class="column mindsets outlook">
  <div class="col-sm-4">
  <h4 class="title3" style="text-align: center;"><a href="{% url 'growth' %}">Growth Mindset</a></h4>
  <p class="textbox3" style="text-align: center;"><a href="{% url 'growth' %}"><span1><img src="{% static "GR/growth.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Welcome learning and growing.</span1></a></p>
  </div>
  </div>

  <div class="column mindsets self-love">
  <div class="col-sm-4">
  <h4 class="title3" style="text-align: center;"><a href="{% url 'curiosity' %}">Self-Curiosity</a></h4>
  <p class="textbox3" style="text-align: center;"><a href="{% url 'curiosity' %}"><span1><img src="{% static "GR/curiosity.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Re-examine your habits with curiosity.</span1></a></p>
  </div>
  </div>

  <div class="column mindsets outlook">
  <div class="col-sm-4">
  <h4 class="title3" style="text-align: center;"><a href="{% url 'design' %}">Design Thinking</a></h4>
  <p class="textbox3" style="text-align: center;"><a href="{% url 'design' %}"><span1><img src="{% static "GR/design.png" %}" alt="My image" style="width:50px;height:50px;"/><br>Use a framework to guide you.</span1></a></p>
  </div>
  </div>
</div>


<br>
<br>
<div class="margin">
<h2>Resources</h2>
<br>
<a class = "button" href="{% url 'resilience' %}">More About Resilience</a>
<a class = "button" href="{% url 'resilience' %}">Emergency</a>
</div>

<br>
<br>
<br>

<div class = "image1">
  <p>Visit the <a href="http://www.resilientstudio.com">Resilient Studio</a> Headquarters</p>
  <a href="http://www.resilientstudio.com"><img src="http://growingresilient.com/wp-content/uploads/2018/01/Screenshot-2018-01-07-13.27.44-300x62.png" alt="" width="300" height="62" class="aligncenter size-medium wp-image-1166" /> </a>
</div>


<script>
filterSelection("all") // Execute the function and show all columns
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Show filtered elements
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Hide elements that are not selected
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>


  {% endblock %}
