{% extends 'base.html' %}
{% load static %}

  {% block content %}

<p>If this is a crisis or emergency, here are things to do.</p>

<div class = "border">
<h2 class = "hmargin">To Do:</h2>
<ul>
 	<li class = "pmargin">Are you feeling like harming yourself? If you feel like <strong>hurting or killing yourself</strong>, try one or more of the following:</li>
</ul>
<ol>
<li class="bigtab">Remember that you are valuable and very worthy of love. Many people care about you.</li>
<li class="bigtab">Consider calling or talking to someone you trust.</li>
<li class="bigtab">Consider calling an anonymous crisis line:</li>

<ul>
 	<li class="bigtab"><a href="https://suicideprevention.ca/need-help/">Canada</a></li>
 	<li class="bigtab"><a href="https://www.crisistextline.org/textline?gclid=CjwKCAjwxJnNBRAMEiwA8X_-QSGNQv_1o3xbzcl6pWRJxj8I4FP1xA1tcKv-UdI67YOi4TgOrh_YJxoCC1YQAvD_BwE">USA</a></li>
</ul>
<li class="bigtab">Is a place where you feel safe? If there is, think about going there. </li>
<li class="bigtab"> Consider going to a hospital or clinic.</li>
<li class="bigtab"> Do the things you usually try when you are feeling low. Remember that bad feelings will pass.</li>
</div>

<h2 class = "hmargin">Other Resources:</h2>
<ul>
 	<li class = "pmargin"><a href="https://suicideprevention.ca/need-help/">SuicidePrevention.ca</a></li>
 	<li class = "pmargin"><a href="https://suicidepreventionlifeline.org/">SuicidePreventionLifeline.org</a></li>
</ul>

{% endblock %}
