{% extends 'base.html' %}
{% load static %}

  {% block content %}

  {% if user.is_authenticated %}
  <h2> {{ user.get_username|title }}'s Favourites</h2>
  {% endif %}
  <br>


  <div class ="row">

  {% for x in newlist %}
    <div class="col-sm-4">
    <h4 class="title{{x.style}}" style="text-align: center;"><a href ="/GR/{{x.link}}/">{{x.title}}</a></h4>
    <div class = "textbox{{x.style}}"<p style="text-align: center;"><a href ="/GR/{{x.link}}/"><span1><img src="/static/GR/{{x.image}}.png" alt="My image" style="width:50px;height:50px;"/><br>{{x.text}}</span1></a></p></div>

    <form method="POST" class="post-form">{% csrf_token %}
    <button type="submit" class="save btn btn-default" name="fav" option value="{{x.id}}">Unfavorite</button>
    </form>

    </div>
  {% endfor %}

  </div>
{% endblock %}
